<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <form action="/del" method="POST">
            <h2>Enter the id to be deleted from the view</h2>
            <input type="number" name="omit">
            <button type="submit" value="submit">GET</button>
        </form>
        <style>
            body{
                background-color:black ;
                color: white;
            }
        </style>
    </body>
</html>