<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ListAll</title>
</head>
<body>
    
    <form action="/getall" method="GET">
        <h2>Click the button below in order to list all the items</h2>
        <button type="submit" value="submit">
            GET
        </button>
    <h1>
        <%=data%>
    </h1>
        
</body>
</html>